#HeroSection {
    position: relative;
    height: 600px;
    background-position: 25% 0%;
    background-image: url(../images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

/*h1 {
    margin: 0px;
    text-align: center;
    color: rgba(227, 106, 19, 0.8);
    clear: both;
    font-size: 3em;
    padding-top: 15%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: -1px 0 rgba(227, 106, 19, 0.8), 0 -1px rgba(227, 106, 19, 0.8);
    -webkit-animation: animationBox 2000ms linear both;
    animation: animationBox 2000ms linear both;
}*/
#wrapCompannyName {
    position: absolute;
    /*transform: translate(-50%, -50% );*/
    top: 50%;
    left: 50%;
    margin-left: -113px;
    margin-top: -13px;
    z-index:1;
}

h1 {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    margin: 0px;
    font-size: 3em;
    width: 226px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*text-shadow: -1px 0 rgba(227, 106, 19, 0.8), 0 -1px rgba(227, 106, 19, 0.8);*/
        /*text-shadow: -1px 0 black, 0 -1px black;*/
    -webkit-animation: animationBox 2000ms linear both;
    animation: animationBox 2000ms linear both;
    /*margin-left: -112.34px;
    margin-top: -17px;*/
    color:rgba(227, 106, 19, 0.8);
}

#boxBorder {
    display: inline-block;
    /*border: 5px solid rgba(227, 106, 19, 0.8);*/
    border: 5px solid black;
    -moz-box-shadow: 0px 0px 5px rgba(227, 106, 19, 0.8);
    -webkit-box-shadow: 0px 0px 5px rgba(227, 106, 19, 0.8);
    box-shadow: 0px 0px 5px rgba(227, 106, 19, 0.8);
    padding: 0.2em 0.5em;
}

#descriptionMetals {
    /*margin: 0px;
    padding-top: 5px;
    padding-bottom: 20%;*/
    text-transform: uppercase;
    letter-spacing: 0.05em;
    /*text-align: center;*/
    font-size: 14px;
    line-height: 1;
    color: black;
}

#HeroSection a {
    text-decoration: none;
    color: black;
}

#descriptionMetals a:hover {
    color: dimgray;
    text-shadow: 0px 0px 10px gray;
}

#HeroSection #gold {
    color: rgba(227, 106, 19, 1);
}

@media (max-width : 650px), only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /*h1 {
        padding-top: 38%;
    }*/
    #HeroSection {
        height: 400px;
    }
}
