@import url('sellSection.css');
@import url(headerFooter.css);
@import url('sideBar.css');

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#container {
    margin-top: 50px;
    position: relative;
    height: 100%;
}

#wrapH3{
    background-color: rgba(227, 106, 19, 0.1);
    text-align: center;
    margin: 0px;
    height:46px;

}

h3 {
    background-color: dimgray;
    width:100%;
    text-align: center;
    color: rgba(227, 106, 19, 0.9);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-family: Georgia;
    font-weight: 200;
    margin: 0px;
    position: fixed;
    /*margin-left:50%;*/
    z-index:55;
}

    h3::first-letter {
        text-transform: uppercase;
        color: black;
        font-size: 1.7em;
    }

/*#sideBar ul li {
        font-size: 16px;
        padding-bottom: 15px;
        text-align: right;
    }

        #sideBar ul li:hover {
            color: rgba(241, 104, 16,0.9);
            cursor: pointer;
            -moz-box-shadow: rgba(241, 104, 16,0.7);
            -webkit-box-shadow: rgba(241, 104, 16,0.7);
            box-shadow: rgba(241, 104, 16,0.7);
        }*/

@media (max-width : 762px), only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #container {
    margin-top: 60px;
}
}
